/* Main page and category-card */
.page h1 {
    margin-bottom: 2rem;
}

.innerDiv {
    display: flex;
    padding: 20px;
    margin: 10px;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 10px;
    width: 40vw;
}

@media screen and (max-width: 850px) {
    .innerDiv {
        width: 80vw;
    }
}

@media screen and (max-width: 450px) {
    .innerDiv {
        flex-direction: column;
        width: 80vw;
    }
}

.innerDiv h1 {
    padding-left: 20px;
}
.innerDiv:hover {
    background-color: rgb(236, 236, 251);
}

.article {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

.categoryLink {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.searchArea {
    margin: 1rem 0 2rem 0;
}

.searchArea form {
    padding: 0 2rem;
}

.searchArea input {
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
}


/* Search result */
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: underline;
    color: rgb(63, 115, 144);
}

.result{
    padding: 2rem 0 1rem 0;
    color: rgb(16, 104, 103);
}


/* Header */
.header{
    background-color: rgb(22, 96, 120);
    padding: 1rem;
    color: rgb(245, 229, 199);
    text-align: center;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.iconLink {
    font-size: 5rem;
}